@import url(reset.css);
@import url(fonts.css);

header {
	height: 50px;
	color: #ffffff;
	text-align: center;
	align-content: center;
	font-size: 30px;
	background: #ffffff;
	background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
}
footer {
	height: 50px;
	color: #fff;
	text-align: center;
	align-content: center;
	font-size: 30px;
	background: #ffffff;
	background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
}
.wrapper {
	overflow: hidden;
	min-height: 100%;
}

.background {
	background-image: url(../img/clouds-4k-bfidy3k47wphva14.jpg);
	width: 1920px;
	height: 1200px;
	text-align: center;
}
.transport {
	position: relative;
	width: 700px;
	height: 175px;
	transform: translateX(-120px);
	will-change: transform, top, left;
	animation: fly 20s cubic-bezier(0.51, 0.17, 0.8, 1.05) infinite 0.5s forwards;
}
@keyframes fly {
	0% {
		left: 0;
		top: 0;
	}
	10% {
		transform: rotate(0deg);
	}
	20% {
		left: 1400px;
		top: 0;
	}
	25% {
		transform: rotate(90deg);
	}
	30% {
		left: 1400px;
		top: 1000px;
	}
	45% {
		transform: rotate(180deg);
	}
	55% {
		left: 0;
		top: 1000px;
	}
	75% {
		transform: rotate(270deg);
	}
	95% {
		left: 0;
		top: 0;
	}
	100% {
		transform: rotate(360deg);
	}
}
.transport__hull {
	background-color: #aaaaaa;
	width: 700px;
	height: 100px;
	border-radius: 10% 24% 10% 28% / 7% 39% 43% 69%;
	border: black solid 2px;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.transport__wind {
	position: relative;
	background-color: #bebebe;
	width: 200px;
	height: 25px;
	border: black solid 2px;
	border-radius: 10% 60% 24% 48% / 32% 42% 50% 62%;
	top: 175px;
	left: 250px;
	z-index: 3;
}
.transport__engine {
	position: relative;
	width: 60px;
	height: 25px;
	background-color: #bebebe;
	border: black solid 2px;
	border-radius: 10% 10% 10% 10% / 10% 10% 10% 10%;
	left: 350px;
	top: 95px;
	z-index: 2;
}
.transport__keel {
	position: relative;
	background-color: #bebebe;
	border: black solid 2px;
	width: 50px;
	height: 75px;
	border-radius: 0% 52% 0% 0% / 27% 50% 0% 42%;
	top: 35px;
	left: -5px;
	z-index: 0;
	transform: skew(10deg);
}
.transport__portholes {
	position: relative;
	top: 20px;
	z-index: 1;
}
.transport__porthole {
	display: inline-block;
	margin-right: 20px;
	background-color: #333333b0;
	border: black solid 2px;
	width: 20px;
	height: 30px;
	border-radius: 50%;
}
.pilot-window {
	position: relative;
	width: 80px;
	height: 50px;
	background-color: #00ebfc34;
	border: black solid 2px;
	left: 600px;
	top: -35px;
}
.door1 {
	position: relative;
	width: 30px;
	height: 50px;
	background-color: #bebebe;
	border: black solid 1px;
	border-radius: 10%;
	left: 521px;
	top: -38px;
}
.door2 {
	position: relative;
	width: 30px;
	height: 50px;
	background-color: #bebebe;
	border: black solid 1px;
	border-radius: 10%;
	left: 169px;
	top: -88px;
}
