@import url(reset.css);
@import url(fonts.css);

header {
	max-width: 100%;
	color: #fff;
	text-align: center;
	font-size: 30px;
	background: rgb(27, 2, 44);
}
.wrapper {
	overflow: hidden;
	min-height: 100%;
}
footer {
	max-width: 100%;
	color: #fff;
	text-align: center;
	font-size: 30px;
	background: rgb(27, 2, 44);
}
[class*="__container"] {
	max-width: 1350px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}