@import url(reset.css);
@import url(fonts.css);

body {
	background-color: rgb(77, 86, 90);
	font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.wrapper {
	overflow: hidden;
	min-height: 100%;
}

.game {
	font-size: 30px;
}
.game-title {
	color: aqua;
	font-size: 50px;
}
.game-area{
	width: 2000px;
	height: 2000px;
}

.start {
	width: 70px;
	height: 70px;
	margin-left: 50px;
	background-color: brown;
}


.point1 {
	width: 400px;
	height: 20px;
	margin-left: 50px;
	background-color: rgb(66, 0, 247);
}
.point2 {
	width: 20px;
	height: 200px;
	margin-left: 430px;
	background-color: rgb(66, 0, 247);
	
}
.point3 {
	width: 200px;
	height: 15px;
	margin-left: 250px;
	background-color: rgb(66, 0, 247);
}

.point4 {
	width: 50px;
	height: 100px;
	margin-left: 250px;
	background-color: rgb(66, 0, 247);
}
.point5 {
	width: 500px;
	height: 30px;
	margin-left: 250px;
	background-color: rgb(66, 0, 247);
}
.point6 {
	width: 20px;
	height: 100px;
	margin-left: 730px;
	margin-top: -100px;
	margin-bottom: 30px;
	background-color: rgb(66, 0, 247);
}
.point7 {
	width: 200px;
	height: 15px;
	margin-left: 750px;
	margin-top: -130px;
	background-color: rgb(66, 0, 247);
}
.point8 {
	width: 30px;
	height: 200px;
	margin-left: 920px;
	background-color: rgb(66, 0, 247);
}
.point9 {
	width: 100px;
	height: 15px;
	margin-left: 920px;
	background-color: rgb(66, 0, 247);
}
.point10 {
	width: 20px;
	height: 200px;
	margin-left: 1000px;
	background-color: rgb(66, 0, 247);
}

.point1, .point2, .point3, .point4, .point5, .point6, .point7, .point8, .point9, .point10, .block0 {
	visibility: hidden;
}

.game-area>*:hover + *,
.game-area>*:hover {
	visibility: visible;
}
.game-area>.block0:hover {
	visibility: visible;
}





















.block0, .block1 {

	padding-right: 10px;
	text-align: center;	
	
	background: rgb(76,7,159);
	background: radial-gradient(circle, rgba(76,7,159,1) 0%, rgba(186,7,43,1) 75%);
	color: rgb(255, 255, 255);
	font-size: 20px;
	border: 2px solid rgb(0, 87, 250);
	border-radius: 10px;
	padding: 15px;
	max-width: 600px;
	margin: 0 auto;
}
.link0, .link1 {
	margin-bottom: 10px;
}
.practice > img {
	max-width: 546px;
	max-height: 819px;
}
.image {
	display:none;
	opacity: 0.75;
}
.block0:hover .link0{
color: rgb(0, 255, 0);
text-decoration: underline;
}
.study {
	padding: 10px;
}
.study:hover {
	color: rgb(0, 255, 0);
text-decoration: underline;
}

.block0:hover .image {
	display: block;
}

a:visited {
	color: rgb(0, 255, 255);
}

a:active {
	color: rgb(0, 255, 255);
}
.link0:focus {
	outline: 1px solid red;
}
