@import url(reset.css);
@import url(fonts.css);

body {
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;
}
.wrapper {
	overflow: hidden;
	min-height: 100%;
}

.game {
	background-color: rgb(155, 97, 97);
	font-size: 30px;
}
.game-title {
	color: aqua;
	font-size: 50px;
}
.game-area {
	width: 2000px;
	height: 2000px;
}

.start {
	width: 70px;
	height: 70px;
	margin-left: 50px;
	background-color: brown;
}

.point1 {
	width: 400px;
	height: 20px;
	margin-left: 50px;
	background-color: rgb(66, 0, 247);
}
.point2 {
	width: 20px;
	height: 200px;
	margin-left: 430px;
	background-color: rgb(66, 0, 247);
}
.point3 {
	width: 200px;
	height: 15px;
	margin-left: 250px;
	background-color: rgb(66, 0, 247);
}

.point4 {
	width: 50px;
	height: 100px;
	margin-left: 250px;
	background-color: rgb(66, 0, 247);
}
.point5 {
	width: 500px;
	height: 30px;
	margin-left: 250px;
	background-color: rgb(66, 0, 247);
}
.point6 {
	width: 20px;
	height: 100px;
	margin-left: 730px;
	margin-top: -100px;
	margin-bottom: 30px;
	background-color: rgb(66, 0, 247);
}
.point7 {
	width: 200px;
	height: 15px;
	margin-left: 750px;
	margin-top: -130px;
	background-color: rgb(66, 0, 247);
}
.point8 {
	width: 30px;
	height: 200px;
	margin-left: 920px;
	background-color: rgb(66, 0, 247);
}
.point9 {
	width: 100px;
	height: 15px;
	margin-left: 920px;
	background-color: rgb(66, 0, 247);
}
.point10 {
	width: 20px;
	height: 200px;
	margin-left: 1000px;
	background-color: rgb(66, 0, 247);
}

.point1,
.point2,
.point3,
.point4,
.point5,
.point6,
.point7,
.point8,
.point9,
.point10,
.block0 {
	visibility: hidden;
}

.game-area > *:hover + *,
.game-area > *:hover {
	visibility: visible;
}
.game-area > .block0:hover {
	visibility: visible;
}

.block0,
.block1 {
	padding-right: 10px;
	text-align: center;
	background: rgb(76, 7, 159);
	background: radial-gradient(circle, rgba(76, 7, 159, 1) 0%, rgba(186, 7, 43, 1) 75%);
	color: rgb(255, 255, 255);
	font-size: 20px;
	border: 2px solid rgb(0, 87, 250);
	border-radius: 10px;
	padding: 15px;
	max-width: 600px;
	margin: 0 auto;
}
.link0,
.link1 {
	margin-bottom: 10px;
}
.practice > img {
	max-width: 546px;
	max-height: 819px;
}
.image {
	display: none;
	opacity: 0.75;
}
.block0:hover .link0 {
	color: rgb(0, 255, 0);
	text-decoration: underline;
}
.study {
	padding: 10px;
}
.study:hover {
	color: rgb(0, 255, 0);
	text-decoration: underline;
}

.block0:hover .image {
	display: block;
}

.practice > a:visited {
	color: rgb(0, 255, 255);
}

.practice > a:active {
	color: rgb(0, 255, 255);
}
.link0:focus {
	outline: 1px solid red;
}

.section1 {
	background: #412672;
	padding: 61px 0 102px 0;
	font-family: Inter;
}
.container {
	padding: 0 15px;
	max-width: 1300px;
	margin: 0 auto;
}
.title {
	color: var(--Style, #fff);
	font-size: 38px;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 31px;
}
.title strong {
	display: inline-block;
}
.card1,
.card2,
.card3 {
	background-color: #fff;
	width: 33.3%;
	max-width: 387px;
	min-height: 476px;
	padding: 20px;
	margin: 0 20px 20px 0;
	display: inline-block;
	vertical-align: top;
}
.card3 {
	margin: 0px;
}
.card-title {
	color: #000;
	font-family: Inter;
	font-size: 22px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	padding-top: 16px;
	padding-bottom: 16px;
}
.card-text {
	color: var(--Gray-2, #4f4f4f);
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 19px;
	height: 76px;
}
.card1 > a,
.card2 > a,
.card3 > a {
	display: inline-block;
	color: var(--fe-3-f-3-f, #fe3f3f);
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 19px;
	padding-top: 16px;
}

.section1 > img {
	vertical-align: middle;
	max-width: 347px;
}

.card1:hover,
.card2:hover,
.card3:hover {
	background: #ffbe48;
	box-shadow:
		0px 384px 108px 0px rgba(0, 0, 0, 0),
		0px 246px 98px 0px rgba(0, 0, 0, 0.01),
		0px 138px 83px 0px rgba(0, 0, 0, 0.05),
		0px 62px 62px 0px rgba(0, 0, 0, 0.09),
		0px 15px 34px 0px rgba(0, 0, 0, 0.1);
}
.card1 > a:hover,
.card2 > a:hover,
.card3 > a:hover {
	text-decoration: underline;
}

.section2 {
	padding: 55px 0 42px 0;
	margin-bottom: 50px;
	max-width: 1728px;
	max-height: 648px;
}
.text {
	margin-top: 153px;
	color: #412672;
	vertical-align: middle;
	display: inline-block;
	line-height: 1.2;
	max-width: 518px;
	margin-right: 90px;
}
.title2 {
	font-size: 34px;
}
.paragraph {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #412672;
	font-family: Inter;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	align-self: stretch;
	max-width: 100%;
}
.text ul {
	color: var(--Gray-2, #4f4f4f);
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 51px;
	padding-top: 20px;
	padding-left: 30px;
}
.option {
	padding-bottom: 10px;
}
.option::before {
	display: block;
	margin-bottom: -39px;
	margin-left: -30px;
	content: "";
	width: 29px;
	height: 29px;
	background: url(../img/Frame.svg) no-repeat 0 0;
}
.image2 {
	max-width: 764px;
	width: 35%;
	display: inline-block;
	vertical-align: top;
	margin-left: 58px;
	margin-bottom: -98px;
}
.dots {
	max-width: 300px;
	width: 100%;
	height: 15px;
	font-size: 16px;
	margin-left: 75%;
	margin-top: 31px;
}
.dot {
	display: inline-block;
	vertical-align: top;
	background: #cfcbcb;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	color: #cfcbcb;
	margin-right: 15px;
}
.dot:hover {
	background-color: #412672;
}
